<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">Inserir Grafo</h6>
    </div>
    <div class="panel-body">
        <form ng-submit="iniciarGrafo()">
            <div class="form-group">
                <textarea rows="21" class="form-control" placeholder="Insira o Grafo" id="grafo">
GRAFO
0 1 2 3; // Vértices do grafo
true ; // Se o grafo é direcionado ou não
true ; // Se o grafo tem pesos ou não
ARESTAS
0 1 10, // Existe uma aresta entre os vértices 0 e 1, e o peso dela é 10
1 2 11, // Existe uma aresta entre os vértices 1 e 2, e o peso dela é 11
0 2 20, // Existe uma aresta entre os vértices 0 e 2, e o peso dela é 20
2 3 12, // Existe uma aresta entre os vértices 2 e 3, e o peso dela é 12
1 3 13; // Existe uma aresta entre os vértices 2 e 0, e o peso dela é 14
COMANDOS
DISTANCIA 0 1 2; // Distância do caminho passando pelos vértices 0 1 2
DISTANCIA 0 1 2 0 2; // Distância do caminho passando pelos vértices 0 1 2 0 2
PROFUNDIDADE 0 2; // Busca em largura partindo do vértice 0 em busca do vértice 2
LARGURA 0 3; // Busca em largura partindo do vértice 0 em busca do vértice 3
MENOR CAMINHO 0 3; // Menor caminho entre os vértices 0 e 3
PRIM 2; // EXTRA. Árvore geradora mínima utilizando o algoritmo de Prim partindo do vértice 0
KRUSKAL; // EXTRA. Floresta geradora mínima utilizando o algoritmo de Kruskal</textarea>
            </div>

            <div class="form-actions text-right">
                <button type="submit" class="btn btn-primary">Iniciar</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h6 class="panel-title">Resposta do Grafo</h6>
    </div>
    <div class="panel-body"></div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h6 class="panel-title">Grafo Desenhado</h6>
    </div>
    <div class="panel-body" id="interface" style="position: relative">

    </div>
</div>